@font-face {
  font-family: "BikoBold";
  src: url("./assets/tentacle/fonts/Biko_Bold.woff") format("woff");
  src: url("./assets/tentacle/fonts/Biko_Bold.otf") format("truetype");
  src: url("./assets/tentacle/fonts/Biko_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CalibreWeb-Light";
  src: url("./assets/tentacle/fonts/CalibreWeb-Light.eot"); /*IE9 compat*/
  src: url("./assets/tentacle/fonts/CalibreWeb-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CalibreWeb-Bold";
  src: url("./assets/tentacle/fonts/CalibreWeb-Bold.eot"); /*IE9 compat*/
  src: url("./assets/tentacle/fonts/CalibreWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tts-iconfont";
  src: url("./assets/tentacle/fonts/tts-iconfont.woff") format("woff"),
  url("./assets/tentacle/fonts/tts-iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
