/* Menus */

.user-navigation {
  width: 100%;
  max-width: 875px;
  margin: 0 auto;
  padding: 0 1.38888889%;
}

.menu-wrapper,
.section-wrapper {
  width: 100%;
  max-width: 875px;
  margin: 0 auto;
}

.menu a:hover {
  text-decoration: none;
}

.row {
  display: block;
  width: 102.7777777778%;
  margin: 0 -1.3888888889%;
  *zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.menu-column {
  display: inline;
  float: left;
  width: 63.8888888889%;
  margin: 0 1.3888888889%;
  margin-left: 34.7222222222%;
  text-align: justify;
  //height: $tentacle_header_height;
}

.menu-column ul {
  text-align: justify;
  width: 100%;
}

.menu-column ul li {
  display: inline-block;
}

.menu-link {
  text-decoration: none;
  font-family: "BikoBold", Helvetica, Arial, sans-serif;
  color: #8c8c8c;
  text-transform: uppercase;
  font-size: 15px;
  line-height: $tentacle_header_height;
  margin-bottom: 0px;
  /*font-size: "0.75rem";
    line-height: "2rem";
    margin-bottom: "0rem";*/
}

.menu-link.active,
.menu-link:hover {
  color: #ff4600;
}

.fixed-menu {
  position: fixed;
  top: 0;
  background: #ff4600;
  width: 100%;
  z-index: 50;
  height: $tentacle_header_height;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.fixed-menu .menu-wrapper {
  position: relative;
}

.fixed-menu .menu-wrapper .menu-column {
  display: inline;
  float: left;
  width: 63.8888888889%;
  margin: 0 1.3888888889%;
  margin-left: 1.3888888889%;
}

.fixed-menu .menu-wrapper .logo-column {
  display: inline;
  float: left;
  width: 30.5555555556%;
  margin: 0 1.3888888889%;
  height: $tentacle_header_height;
}

.fixed-menu .menu-wrapper .logo-column .logo {
  height: 11px;
  width: 114px;
  background-image: url($assets-tentaclesync-logo-wortmarke-weiss-2x-png);
  background-size: 100%;
  margin-left: 118px;
  margin-top: 12px;
  z-index: 10;
  position: relative;
}

.fixed-menu .menu-wrapper .menu-link {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  color: rgba(255, 255, 255, 0.4);
}

.fixed-menu .menu-wrapper .menu-link.active,
.fixed-menu .menu-wrapper .menu-link:hover {
  color: #fff;
}

.fixed-menu.expanded {
  top: 0;
}

.fixed-menu.white {
  background: #f5f5f5;
}

.fixed-menu.white .logo-column:after {
  color: #f5f5f5;
}

.fixed-menu.white .menu-wrapper .menu-link {
  color: rgba(50, 50, 50, 0.4) !important;
}

.fixed-menu.white .menu-wrapper .menu__link.active,
.fixed-menu.white .menu-wrapper .menu-link.active,
.fixed-menu.white .menu-wrapper .menu__link:hover,
.fixed-menu.white .menu-wrapper .menu-link:hover {
  color: #ff4600 !important;
}

.fixed-menu .menu-wrapper .logo-column .logo {
  margin-left: 0;
}

.menu__link,
.menu-link {
  text-decoration: none;
  font-family: "Biko Bold", Helvetica, Arial, sans-serif;
  color: #8c8c8c;
  text-transform: uppercase;
  font-size: 15px;
  line-height: $tentacle_header_height;
  margin-bottom: 0px;
  /*font-size: "0.75rem";
    line-height: "2rem";
    margin-bottom: "0rem";*/
}

.menu__link.active,
.menu__link:hover,
.menu__link.is-active-trail,
.menu-link.active,
.menu-link:hover,
.menu__link:active {
  color: #fff !important;
}

.fixed-menu {
  z-index: 99999;
}

.fixed-menu .menu__link,
.fixed-menu .menu-link {
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  color: rgba(255, 255, 255, 0.4);
}

.fixed-menu .menu__link.active,
.fixed-menu .menu__link:hover,
.fixed-menu .menu-link.active,
.fixed-menu .menu__link.is-active-trail,
.fixed-menu .menu-link:hover,
.fixed-menu .menu__link:active,
.fixed-menu .menu .menu__item a.menu__link.active:hover,
.fixed-menu .menu .menu__item a.menu__link.active:active {
  color: #fff;
}

.fixed-menu.white .menu-wrapper .menu__link,
.fixed-menu.white .menu-wrapper .menu-link {
  color: rgba(50, 50, 50, 0.4);
}

.fixed-menu.white .menu-wrapper .menu__link.active,
.fixed-menu.white .menu-wrapper .menu__link:hover,
.fixed-menu.white .menu-wrapper .menu__link.is-active-trail,
.fixed-menu.white .menu-wrapper .menu-link.active,
.fixed-menu.white .menu-wrapper .menu-link:hover {
  color: #ff4600;
}

.fixed-menu .menu {
  display: flex;
  justify-content: space-between;
}

.fixed-menu .menu ul {
  display: none;
}

.fixed-menu .menu li {
  position: relative;
}

.fixed-menu .menu li:hover ul {
  display: block;
  position: absolute;
  top: $tentacle_header_height;
  left: -15px;
}

.fixed-menu .menu li.highlighted a {
  background-color: white !important;
  color: $brand_color !important;
  padding: 7px 3px 4px 3px;
}

.fixed-menu .menu li ul {
  background: #ff4600;
  width: 240px;
}

.fixed-menu .menu li ul li {
  display: block;
}

.fixed-menu .menu li ul li a {
  display: block;
  font-size: 15px;
  line-height: 20px;
  padding: 13px 15px 9px 15px;
  color: white !important;
}

.fixed-menu .menu li ul li a.active,
.fixed-menu .menu li ul li a:hover {
  background: white;
  color: #ff4600 !important;
}

.white .menu-column .menu li.highlighted a {
  background-color: $brand_color !important;
  color: white !important;
}

.fixed-menu .menu-wrapper .logo-column .logo {
  margin-left: 0;
}

.logo-column.special:after {
  display: none;
  visibility: hidden;
  content: "";
}
