.full {
  display: inline;
  float: left;
  width: 97.222222222222%;
  margin: 0 1.3888888888889%;
}

.third {
  display: inline;
  float: left;
  width: 30.555555555556%;
  margin: 0 1.3888888888889%;
}

.fourth {
  display: inline;
  float: left;
  width: 23%;
  margin: 0 1%;
}

.two-third {
  display: inline;
  float: left;
  width: 63.888888888889%;
  margin: 0 1.3888888888889%;
}

.half {
  display: inline;
  float: left;
  width: 47.222222222222%;
  margin: 0 1.3888888888889%;
}

.push-2 {
  margin-left: 18.055555555556%;
}

.push-4 {
  margin-left: 34.722222222222%;
}

.pull-2 {
  margin-right: 18.055555555556%;
}

.sixth {
  display: inline;
  float: left;
  width: 13.888888888889%;
  margin: 0 1.3888888888889%;
}
