/*this is intended to overwrite copenhagen theme specific css rules*/

h1,
h2 {
  font-size: 1.9rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
  color: $brand_color;
}

.form {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/*hide zendesk elements in development of menu*/
#preview-bar-container{
  //display: none;
}

.container {
  padding: 5%;
  min-height: 80vh;
}

.category-container .category-content .page-header {
  flex-direction: column;
}
